<div class="author-byline<%
    if (typeof additionalClasses !== 'undefined') {
        %><%= additionalClasses %><%
    }
    %>"
    itemprop="author" itemscope 
    itemtype="http://schema.org/Person" <%
    if (typeof id !== 'undefined' && id) {
        %>id="<%= id %>" <%
    }
    if (typeof style !== 'undefined' && style) {
        %>style="<%= style %>" <%
    }
    %>>
By <%
    let count = 0;
    for (let author of authors) {
        if (count++ > 0) {
            %>, <%
        }
        if (typeof author.url !== 'undefined') { 
            %><span itemprop="name" class="author-name-wrapper"><a href="<%= author.url %>" rel="author" itemprop="url"><%= author.fullname %></a></span><% 
        } else { 
            %><%= author.fullname %><% 
        }
    }
%>
</div>
